@import '~@/css/px_function.scss';

.album {
  padding: 0 px2px(16px);
  margin-top: px2px(16px);
  .title {
    font-size: px2px(18px);
    margin-bottom: px2px(16px);
  }
  .album-list {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 50%;
      box-sizing: border-box;
      padding: px2px(4px);
      .item-content {
        position: relative;
        background-color: #dcdcdc;
        width: 100%;
        height: px2px(168px);
        .coverimg {
          width: 100%;
          height: 100%;
          display: block;
        }
        .playCount {
          position: absolute;
          top: 0;
          right: 0;
          padding: px2px(2px) px2px(12px);
          font-size: px2px(12px);
          background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
          color: #fff;
        }
        .nick-name {
          position: absolute;
          left: 0;
          right: 0;
          height: px2px(24px);
          bottom: 0;
          padding-left: 8px;
          line-height: px2px(24px);
          background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
          color: #fff;
        }
      }
    }
  }
}
