@import '~@/css/px_function.scss';

.list-box {
  margin-top: px2px(-24px);
  overflow: hidden;
  border-radius: px2px(24px) px2px(24px) 0 0;
  background-color: #fff;
  min-height: px2px(300px);

  .list {
    padding: px2px(16px);

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #666;
      &:not(:last-of-type) {
        margin-bottom: px2px(16px);
      }
      .num {
        width: px2px(30px);
        height: px2px(30px);
        font-size: px2px(16px);
        text-align: center;
        line-height: px2px(30px);
        margin-right: px2px(16px);
      }
      .info {
        flex: 2;
        width: 0;
        font-size: px2px(14px);
      }
      .icon {
        margin-left: px2px(16px);
      }
    }
  }
}
