.player {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding-top: 15vh;
  .bgBox {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .bgImage {
      width: 100%;
      height: 100%;
      filter: blur(12px);
      transform: scale(2);
    }
  }

  .header {
    position: relative;
    margin-bottom: 140px;
    .coverImg {
      width: 70%;
      margin: 0 auto;
      .img {
        width: 100%;
      }
    }
  }

  .message {
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 10px 20px;
    margin: 0 20px;
    background-color: #f2f2f2;
    opacity: 0.6;
    .currentTime {
      color: #5169ec;
    }
    .duration {
      color: #333;
    }
    .progress {
      flex: 1;
    }
  }
  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    opacity: 0.6;
    .buttons {
      margin: 0 20px;
      background-color: #f2f2f2;

      display: flex;
      align-items: center;
      justify-content: space-around;
      .button {
        padding: 10px;
      }
    }
  }
}
