.player {
  .header {
    position: relative;
    .coverImg {
      width: 70%;
      margin: 80px auto 0;
      .img {
        width: 100%;
      }
    }
  }

  .message {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    .currentTime {
      color: #5169ec;
    }
    .duration {
      color: #333;
    }
    .progress {
      flex: 1;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .button {
      background: #f2f2f2;
      border: 1px solid #dcdcdc;
      padding: 20px;
    }
  }
}
