@import '~@/css/px_function.scss';

.header {
  display: flex;
  padding: px2px(16px) px2px(16px) px2px(48px) px2px(16px);
  background-color: #5169ec;
  .img {
    outline: px2px(1px) solid #dcdcdc;
    width: px2px(100px);
    height: px2px(100px);
    padding: px2px(4px);
    margin-right: px2px(16px);
  }
  .description {
    flex: 1;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    font-size: px2px(12px);
    .nickname {
      font-size: px2px(12px);
    }
  }
}
